{% extends "base.html" %}
{% block title %}Профиль {{ user.username }}{% endblock %}
{% block head_menu %}
<div class="profile-menu">
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <button class="logout-btn" name="logout-btn" type="submit" >Logout</button>
    </form>
</div>
{% endblock %}
{% block main %}
<section class="section-profile">
    <form method="post" class="profile-desc">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            <div class="profile-data">
                <div class="profile-label">{{ field.label }}:</div>
                <div class="profile-input">{{ field }}</div>
            </div>
        {% endfor %}
        <button type="submit" name="change_password-btn">СОХРАНИТЬ</button>
    </form>
</section>
{% endblock %}